




.gallery {
  padding: 0 0 4rem 0;
 
}

.contenido-imagen {
  
  cursor: pointer;
  overflow: hidden;

  
}

img {

	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}













@media screen and (max-width: 1024px) {
  img:hover {
    transform: none;
  }
  
  .img-container {
    height: 100%;
    &:hover .img-content-hover {
      display: none;
    }
  }

  .contenido-imagen {
    display: block;
    padding: 1rem 0;
  }
}