
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el ancho y alto no se vean alterados por el padding o el margen */
  }
  
  
  body{
   font-family: Satoshi, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
    transition: all 200ms linear;
    position: relative;
  }
  
  main{
    display: flex;
    flex-direction: column;
  }
  
  main section{
    flex-direction: column;
  }
  
  ::selection {
    --tw-text-opacity: 1;
    color: rgb(162 28 175 / var(--tw-text-opacity));
  }
  
  .text-cAccent {
    --tw-text-opacity: 1;
    color: rgb(131 131 131 / var(--tw-text-opacity));
  }
  
  .text-cWhite {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity));
  }
  
  .text-cAccent {
    --tw-text-opacity: 1;
    color: rgb(131 131 131 / var(--tw-text-opacity));
  }
  
  .size-14 {
    width: 3.5rem;
    height: 3.5rem;
  }
  

  

#dark {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 75%;
    background-color: #1a1a1a;
  
  
    color: white;
  }
  
  
  
  #light {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 70%;
    background-color: rgb(255, 255, 255);
  
  
  
  
  }
  #light .button {
    --background: #e5e5e6; 
  }
  
  
  .bg-dark-gray {
    background: #1E2235;
  }
  