
  .icon,
  span {
      display: inline-block;
      vertical-align:top;
      position: relative;
      z-index: 1;
      margin: 10px 0 0 0;
  }
  .icon {
      --z: 2px;
      width: 38px;
      height: 34px;
      margin: 10px 0 0px 0;
     
     
  }
 

















@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }
  30% {
    backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}

.scroll-animation {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;



  
}



/* ANIMACION DEL DARKMODE */
::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="40" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top right / 0 no-repeat;

  mask-origin: content-box;
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top right;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top right;
  z-index: -1;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}

