



 /* ton social */
 .button {
  --background: rgb(26 26 26 / 0.8);
  --color: #F6F8FF;
  --shadow: rgba(0, 9, 61, 0.24);
  
  --z-before: -6;
  display: block;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 0;
 
  padding: 9px 22px 9px 16px;
  line-height: 20px;
  

  font-size: 16px;
  color: var(--color);

  transition: transform var(--transform-duration, 0.1s);
  will-change: transform;
  transform-style: preserve-3d;
  transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);
}

.button:hover {
  --transform-duration: 0.16s;
}

.button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  transform: translateZ(calc(var(--z-before) * 1px));
  background: var(--background);
  box-shadow: 0 4px 8px var(--shadow);
}

  .icon,
  span {
      display: inline-block;
      vertical-align:top;
      position: relative;
      z-index: 1;
      margin: 13px 0 0 0;
  }
  .icon {
      --z: 2px;
      width: 38px;
      height: 34px;
      margin: 10px 0 0px 0;
      transform: translate(calc(var(--icon-x, 0) * 1px), calc(var(--icon-y, 0) * 1px)) translateZ(2px);
     
     
  }
 

















@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }
  30% {
    backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}

.scroll-animation {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;



  
}



/* ANIMACION DEL DARKMODE */
::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="40" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top right / 0 no-repeat;

  mask-origin: content-box;
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top right;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top right;
  z-index: -1;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}

